@mixin ellipsis($rowCount: 1) {
  @if $rowCount <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $rowCount;
    -webkit-box-orient: vertical;
  }
}

@mixin userSelect($value: none) {
  -moz-user-select: $value;
  -ms-user-select: $value;
  -webkit-user-select: $value;
  user-select: $value;
}

@mixin absoluteCenter() {
  position: absolute;
  inset: 0;
  margin: auto;
}

@mixin animation(
  $from: (
    width: 0,
  ),
  $to: (
    width: 100px,
  ),
  $name: mymove,
  $animate: mymove 2s 1 linear infinite
) {
  -webkit-animation: $animate;
  -o-animation: $animate;
  animation: $animate;

  @keyframes #{$name} {
    from {
      @each $key, $value in $from {
        #{$key}: #{$value};
      }
    }

    to {
      @each $key, $value in $to {
        #{$key}: #{$value};
      }
    }
  }

  @keyframes #{$name} {
    from {
      @each $key, $value in $from {
        $key: $value;
      }
    }

    to {
      @each $key, $value in $to {
        $key: $value;
      }
    }
  }
}

@mixin circle($size: 11px, $bg: #fff) {
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  background: $bg;
  border-radius: 50%;
}

@mixin placeholder($color: #bbb) {
  &::placeholder {
    color: $color;
    opacity: 1;
  }

  &:input-placeholder {
    color: $color;
  }

  &::input-placeholder {
    color: $color;
  }

  &:placeholder-shown {
    text-overflow: ellipsis;
  }
}

@mixin betterTransparentize($color, $alpha) {
  $c: rgba($color, $alpha);
  $ie_c: ie_hex_str($c);

  zoom: 1;
  background: rgba($color, 1);
  background: $c;
  background: transparent \9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie_c}, endColorstr=#{$ie_c})";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie_c}, endColorstr=#{$ie_c});
}

@mixin browserPrefix($propertyName, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
    #{$prefix}#{$propertyName}: $value;
  }
}

@mixin border($color: red) {
  border: 1px solid $color;
}

@mixin backdropBlur() {
  --tw-backdrop-blur: blur(30px);

  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
